html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

#app {
  background: #2b4b6b;
}



.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

/* 主体容器居中 */
.body-center {
  margin: 0 auto;
  width: 90%;
}

/* 滚动条 */
.el-scrollbar {
  height: 100%;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

/* 导航栏悬停时的背景颜色  */
.el-submenu .el-submenu__title:hover {
  background-color: transparent !important;
  color: #38B2FF !important;
}

/* 面包屑 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-breadcrumb__inner {
  color: #fff !important;
}


.el-breadcrumb__item .is-link {
  color: #38B2FF !important;
}

.el-breadcrumb__item .is-link:hover {
  color: bisque !important;
}

/* 卡片 */
.lj-card {
  margin-top: 40px;
  background: #2b4b6b;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.5s ease-out;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1),
    -20px -20px 30px rgba(255, 255, 255, .1);
}

.lj-card:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2),
    0 0 0 rgba(255, 255, 255, .2),
    inset 20px 20px 30px rgba(0, 0, 0, 0.1),
    inset -20px -20px 30px rgba(255, 255, 255, .1);
}

/* header头部 */
.el-page-header__content {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* 表格 */
.el-table {
  background: transparent !important;
}

.el-table tr,
.el-table th {
  background: transparent;
  color: rgba(255, 255, 255, .7);
}

.el-table-column {
  background: transparent !important;
  transition: all 0.5s ease-out;
}

.el-table .el-table__row:hover>td {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: rgba(255, 255, 255, .8);
}

/* 分页 */
.el-pagination__total,
.el-pagination__jump {
  color: rgba(255, 255, 255, .7) !important;
}

.el-pagination .el-input__inner,
.el-pagination .el-pager .number,
.el-pagination .btn-prev,
.el-pagination .btn-next,
.el-pagination .btn-quicknext,
.el-pagination .btn-quickprev {
  background: rgba(255, 255, 255, .3) !important;
  border: 0;
  color: rgba(0, 0, 0, 1);
}

.el-pagination .btn-quickprev,
.el-pagination .btn-quicknext,
.el-pagination .btn-prev:hover,
.el-pagination .btn-next:hover {
  color: #fff !important;
}

.el-menu .el-menu-item {
  background-color: transparent !important;
}

.el-menu .el-menu-item:hover span,
.el-menu .el-menu-item:hover i {
  color: #38B2FF !important;
}

.el-menu--inline {
  background-color: transparent !important;
}